/* Add CSS styles here! */
body {
  font-family: sans-serif;
  background-image: url("./img/rbs-wood-grain.jpeg");
}



@media (min-width: 325px) {
  .contact-card {
    background-color: antiquewhite;
    margin-top: 25rem;
    margin-bottom: 5rem; 
    height: auto;
    width: auto;
  }

  .greeting {
    color: antiquewhite;
    top: 5%;
    left: 5%;
    position: absolute;
    font-family: 'Urbanist', sans-serif;
    font-size: 50pt;
  }

  .details {
    margin-bottom: 2rem;
  }

  .icons {
    font-size: 2em;
    width: 10rem;
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .contact-card {
    background-color: antiquewhite; 
    margin: 22rem auto;
    height: 20rem;
    width: 40rem;
  }

  .greeting {
    color: antiquewhite;
    top: 15%;
    left: 5%;
    position: absolute;
    font-family: 'Urbanist', sans-serif;
    font-size: 50pt;
  }

  .details {
    margin-bottom: 7rem;
  }

  .icons {
    font-size: 2em;
    text-align: center;
    width: auto;
  }

}




