/* Add CSS styles here! */
body {
  font-family: sans-serif;
  background-image: url("./img/rbs-wood-grain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: black;
  text-decoration: none;  
}

a:hover {
  color: goldenrod;
}

code {
  color: antiquewhite;
}

li {
  list-style-type: "📡  ";
}

.name {
  font-weight: 600;
}

.role {
  font-weight: 600;
  font-size: 15pt;
}

.bio {
  font-size: 13pt;
}


@media (min-width: 325px) {
  body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .contact-card {
    background-color: antiquewhite;
    margin-top: 25rem;
    margin-bottom: 5rem; 
    height: auto;
    width: auto;
  }

  .profile-pic {
    margin-bottom: 1rem;;
  }

  .greeting {
    color: antiquewhite;
    top: 5%;
    left: 5%;
    position: absolute;
    font-family: 'Urbanist', sans-serif;
    font-size: 50pt;
  }

  .details {
    margin-bottom: 2rem;
    text-align: center;
  }

  .icons {
    font-size: 2em;
    width: 10rem;
    text-align: center;
    margin-left: 24%;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  
  .profile-pic {
    float: right;
    margin-left: 0.75rem;
    margin-bottom: 0;
  }

  
  .contact-card {
    background-color: antiquewhite; 
    margin: 22rem auto;
    height: auto;
    width: 42rem;
  }

  .greeting {
    color: antiquewhite;
    top: 20%;
    left: 5%;
    position: absolute;
    font-family: 'Urbanist', sans-serif;
    font-size: 50pt;
  }

  .details {
    width: 40.70rem;
    text-align: left;
  }

  .icons {
    font-size: 2em;
    text-align: center;
    width: auto;
    margin-left: 0;
    margin-right: 1rem;
  }
}